<%= form_with url: generate_code_docs_path, method: :post, local: true, data: { turbo: false } do |f| %>
  <div class="d-flex justify-content-center mt-2">
    <h4> Generate Code Documentation</h4>
  </div>
  </br></br>
  <div class='input-field g-2'>
    <%= f.text_area :code, rows: 20, cols: 80, value: params[:code], required: true, class: 'form-control fs-4 text-light bg-dark', placeholder: "To generate code documentation, enter or paste your code here ...", id:"code-text-area" %>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <%= f.submit 'Generate', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
<%= render 'response' %>
